
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo', sans-serif;


}

/*************header************************************************************************************************************/
.head{

    height:110px;
    width: 100%;
    background-color: rgb(37, 28, 28);
    position: fixed;
    z-index: 10000;    
}

/************************Communication1*************************/
#Communication1 p {
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 100px;
    top: 4px;
    
}

#Communication1 .a1 {
    border: solid 2px rgba(78, 197, 63, 0.753);
    border-radius: 100px;
    height:30px;
    width: 130px;
    color: #fff;
    background-color: rgba(78, 197, 63, 0.753);   
    position: relative;
    position: absolute;
    top: 50px;
    left: 20px;
}
.a1 a {
    position: absolute;
    right: 14px;
}

#Communication1 .a2 {
    border: solid 2px rgba(78, 197, 63, 0.753);
    border-radius: 100px;
    height:30px;
    width: 130px;
    color: #fff;
    background-color: rgba(78, 197, 63, 0.753);
    position: absolute;
    top: 50px;
    left: 160px;
}
.a2 a {
    position: absolute;
    right: 14px;
}






/*****************icon****************************************/

#icon img {
    position: absolute;
    right: 4%;
    top: 10px;
}

/************ the links of pages ******************************/
a {
    text-decoration: none;
    color: #fff;
}
ul li {
    display: inline-block;
    padding-left: 60px;
}
ul{
    position: absolute;
    right: 35%;
    top: 55px;
}
ul a:hover {
    border: solid 2px red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 1s border 0s ;

}
/****************************************nav**************************************************************************************/
#nav{
    width: 100%;
    height: 200px;
    background-color: #eeeeee;
}
/*************************************section*************************************************************************************/
/*******************text Of Granite******************************/
#textOfGranite{
    border: rgb(38, 47, 53) solid 2px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin-right: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgb(37, 28, 28);
    
   
}
.text{
    font-size: 2em;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 7px;
}
/****************publications template left (Granite And Marble ) ****************/
.section{
    width: 48%;
    float: left; 

}

   
   
.contant1{
    margin-top: 10px;
    border: solid  rgb(18, 33, 48)  2px ;
  /*  border-top: 0px;*/
  /*  border-left: 0px;*/
    overflow: auto;
    padding-right: 5px;
   
}
.contant1 img {
    float: left;
}

.contant1 h2 {
    font-family: 'Cairo', sans-serif;


}

/***********************publications template right (Granite And Marble ) ********/
.section2{
    width: 48%;
    float: right;
    margin-right: 20px;
}


.contant2{
    margin-top: 10px;
    border: solid  slategrey  2px ;
    /*border-top: 0px;
    border-left: 0px;*/
    overflow: auto;
    padding-right: 5px;
}
.contant2 img {
    float: left;
}
.contant2 h2 {
    font-family: 'Cairo', sans-serif;
}
/**************text of marble**********************************/


#textOfMarble{
    border: rgb(38, 47, 53) solid 2px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin-right: 40%;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    background-color:rgb(37, 28, 28);
    clear: both;
    

}
.textmarble{
    color: #fff;
    font-size: 2em;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    position: relative;
    bottom: 7px;
   
    
}


/**********************************************************footer****************************************************************/
.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(37, 28, 28);
    clear: both;
    position: relative;
    top: 50px;
}
/*******************************Communication*********************/
#Communication h2 {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 45%;
}

.tel{

    border: solid 2px rgba(78, 197, 63, 0.753);
    border-radius: 100px;
    height:50px;
    width: 200px;
    color: #fff;
    background-color: rgba(78, 197, 63, 0.753);
    position: absolute;
    top: 120px;
    right: 26%;
}
.tel a img {
    position: relative;
    top: 12px;
}
.tel a {
    position: absolute;
    left: 40px;
}

.tel2{

    border: solid 2px rgba(78, 197, 63, 0.753);
    border-radius: 100px;
    height:50px;
    width: 200px;
    color: #fff;
    background-color: rgba(78, 197, 63, 0.753);
    position: absolute;
    top: 120px;
    right: 43%;
    }
.tel2 a {
    position: relative;
    top: 7px;
}



.whats{

    border: solid 2px rgba(78, 197, 63, 0.753);
    border-radius: 100px;
    height:50px;
    width: 200px;
    color: #fff;
    background-color: rgba(78, 197, 63, 0.753);
    position: absolute;
    top: 120px;
    right: 60%;

    }
.whats a img {
    position: relative;
    top: 12px;
    }
.whats a {
    position: absolute;
    left: 40px;
    }
/*************************Property*********************************/
.Property{
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 290px;
    right: 7px;

}


/**************************************** The  Media ( Max-Width : 1177 ) *********************************************/
@media ( max-width :1177px) {

    /**********************Header************************************/
    .head{

     height:180px;
     width: 100%;
     position: sticky;
         
    }


    /*******************Communication1*******************************/

    
    #Communication1 p {
        position: absolute;
        left: 20px;
        
    }
    
    #Communication1 .a1 {
       
        position: relative;
        position: absolute;
        top: 95px;
        left: 20px;
    }
    
    
    #Communication1 .a2 {
        
        position: absolute;
        top: 50px;
        left: 20px;
    }
    /********************Icon***************************************/
    #icon img {
        position: absolute;
        top: 45px;
    }
    /****************************************nav**************************************************************************************/
#nav{
    height: 22px;
   
}
    /*********************Communication****************************/
    #Communication h2 {
       
        position: absolute;
        top: 30px;
        right: 44%;
    }
    
    .tel{
        position: absolute;
        top: 90px;
        right: 42%;
    }
   
    
    
    .tel2{
        position: absolute;
        top: 150px;
        right:42%;
        }
    .whats{
        position: absolute;
        top: 210px;
        right:42%;
    
        }
    /**********************The Links Of Pages *********************/
    
    ul{
        position: absolute;
        right: 30%;
        top: 90px;
    }
    
    }

    /**************************************** The  Media ( Max-Width : 980 ) *******************************************/
    @media( max-width : 980px ){

      /****************************header**********************************/
      .head{

        height:200px;
    }
      /*****************icon****************************************/

     #icon img {
    position: absolute;
    top: 60px;
      }

      /**************************The Links Of Pages ***********************/
     
      ul li {
        display: inline-block;
        padding-left: 15px;
    }
    ul{
        position: absolute;
        right: 31%;
        top: 160px;
    }
    

    /*******************Communication1*******************************/
    #Communication1 p {
        position: absolute;
        top: 20px;
        left: 20px;
        
    }

    #Communication1 .a1 {
    
        position: relative;
        position: absolute;
        top: 115px;
        left: 20px;
    }


    #Communication1 .a2 {
        
        position: absolute;
        top: 70px;
        left: 20px;
    }
        
    

    /*******************text Of Granite******************************/
    #textOfGranite{
        margin-right: 35%;
    }
    /**************text of marble**********************************/
    #textOfMarble{
        margin-right: 35%;
    }


    /****************publications template left (Granite And Marble ) ****************/
    .section{
        width: 45%;
       float: left; 

    }

.contant1{
    margin-top: 10px;
    border: solid  rgb(18, 33, 48)  2px ;
    width: 100%;
    float: left;
    margin-left: 4.5%;
  /*  border-top: 0px;*/
  /*  border-left: 0px;*/
    overflow: auto;
    padding-right: 0.5%;
   
}
.contant1 img {
    float: auto;
    clear: both;
    width: 100%;

}

.contant1 h2 {

    font-family: 'Cairo', sans-serif;


}


/***********************publications template right (Granite And Marble ) ********/
.section2{
    width: 45%;
    float: right;
    margin-right: 20px;
}


.contant2{
    margin-top: 10px;
    border: solid  rgb(18, 33, 48)  2px ;
    width: 100%;
    float: left;
    margin-right: 4.5%;
  /*  border-top: 0px;*/
  /*  border-left: 0px;*/
    overflow: auto;
    padding-left: 0.5%;
}
.contant2 img {
    float: auto;
    clear: both;
    width: 100%;
}
.contant2 h2 {
    font-family: 'Cairo', sans-serif;
}
}

/**************************************** The  Media ( Max-Width : 748 ) *********************************************/
@media ( max-width :748px) {
    /*******************text Of Granite******************************/
    #textOfGranite{
        margin-right: 32%;
    }
    /**************text of marble**********************************/
    #textOfMarble{
        margin-right: 32%;
    }

     /*********************Communication****************************/
     #Communication h2 {
       
        position: absolute;
        right:39%;
    }  
    .tel{
        position: absolute;  
        right: 36%;
    }  
    .tel2{
        position: absolute;
        right:36%;
        }
    .whats{
        position: absolute;
        right:36%;
        }

}
/**************************************** The  Media ( Max-Width : 690 ) *********************************************/
@media ( max-width :690px) {
    
  /**************************The Links Of Pages ***********************/
  ul li {
    display: inline-block;
    padding-left: 10px;
}
ul{
    position: absolute;
    right: 20%;
    top: 160px;
}


}

/**************************************** The  Media ( Max-Width : 550 ) *********************************************/
@media ( max-width :550px) {
  /****************publications template left (Granite And Marble ) ****************/    
.contant1 h2 {
   font-size: 17px;
}

/***********************publications template right (Granite And Marble ) ********/
.contant2 h2 {
    font-size: 17px;
}
/************ the links of pages ******************************/

     
  
ul li {
    display: inline-block;
    padding-left: 10px;
}
ul{
    position: absolute;
    right: 21%;
    top: 160px;
}
/********************Icon***************************************/
#icon img {
    width: 140px;
    position: absolute;
    top: 60px;
}
  /*******************text Of Granite******************************/
  #textOfGranite{
    margin-right: 26%;
}
/**************text of marble**********************************/
#textOfMarble{
    margin-right: 26%;
}
  /*********************Communication****************************/
  #Communication h2 {
       
    position: absolute;
    right:33%;
}  
.tel{
    position: absolute;  
    right: 30%;
}  
.tel2{
    position: absolute;
    right:30%;
    }
.whats{
    position: absolute;
    right:30%;
    }

/*************************Property*********************************/
.Property{
    font-size: 15px;
}
}

/**************************************** The  Media ( Max-Width : 520 ) *********************************************/
@media ( max-width :520px) {

  /**************************The Links Of Pages ***********************/
  


ul li {
    display: inline-block;
    padding-left: 5px;
}
ul{
    position: absolute;
    right: 18%;
    top: 160px;
}
}
/**************************************** The  Media ( Max-Width : 470 ) *********************************************/
@media ( max-width :470px) {

    /**************************The Links Of Pages ***********************/
  ul li {
      display: inline-block;
      padding-left: 5px;
  }
  ul{
      position: absolute;
      right: 12%;
      top: 160px;
  }
   /*******************text Of Granite******************************/
   #textOfGranite{
    margin-right: 20%;
}
/**************text of marble**********************************/
 #textOfMarble{
    margin-right: 20%;
}

}
/**************************************** The  Media ( Max-Width : 415 ) *********************************************/
@media ( max-width :415px) {
    .contant1 h2 {
        font-size: 14px;
     }
     
     /***********************publications template right (Granite And Marble ) ********/
     .contant2 h2 {
         font-size: 14px;
     }
     /*********************Communication****************************/
  #Communication h2 {
       
    position: absolute;
    right:28%;
}  
.tel{
    position: absolute;  
    right: 26%;
}  
.tel2{
    position: absolute;
    right:26%;
    }
.whats{
    position: absolute;
    right:26%;
    }


}
